<!DOCTYPE html>
<head>
    <title>Secret Santa!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <script src="ssgen.js"></script>
    <h1>Welcome to Aron's shitty Secret Santa selector!</h1>
    <p>Click the button below to get the name of the person you have to buy a gift for!</p>
    <div>
        <button onclick="getName();">CLICK ME!</button>
    </div>
    <p id="g">Did you get yourself?</p>
    <p>If so, click the button below and type your name back in!</p>
    <div>
        <button onclick="whoopsie();">Fix</button>
    </div>
</body>